<include file="Public:header" />
<div id="main-content">
	<div id="main" class="main">
		<block name="body">
			<div class="container-span">
				<div class="span4" style="margin: 0 0px;width: 100%;">
					<div class="wallet_detail">
						<div class="main-title-h">
							<span class="h1-title">钱包明细</span>
						</div>
						<div class="kind_box">
							<div class="title">
								<p>币种明细</p>
							</div>
							<ul class="clear">
								<li>
									<p><span>币种:</span><span>HRC</span></p>
									<p>数量</p>
								</li>
								<li>
									<p><span>币种:</span><span>HRC</span></p>
									<p>数量</p>
								</li>
								<li>
									<p><span>币种:</span><span>HRC</span></p>
									<p>数量</p>
								</li>
								<li>
									<p><span>币种:</span><span>HRC</span></p>
									<p>数量</p>
								</li>
							</ul>
							<div class="title">
								<p>每日统计</p>
							</div>
							<ul class="clear">
								<li>
									<p><span>币种:</span><span>HRC</span></p>
									<p><span>转入:</span><span>1000</span></p>
									<p><span>转出:</span><span>1000</span></p>
								</li>
								<li>
									<p><span>币种:</span><span>HRC</span></p>
									<p><span>转入:</span><span>1000</span></p>
									<p><span>转出:</span><span>1000</span></p>
								</li>
								<li>
									<p><span>币种:</span><span>HRC</span></p>
									<p><span>转入:</span><span>1000</span></p>
									<p><span>转出:</span><span>1000</span></p>
								</li>
								<li>
									<p><span>币种:</span><span>HRC</span></p>
									<p><span>转入:</span><span>1000</span></p>
									<p><span>转出:</span><span>1000</span></p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</block>
	</div>
</div>
<!-- /内容区 -->
<include file="Public:footer" />